.wysi__content {
  p {
    padding: 5px 0;
  }
}

.left-text {
  text-align: left;
}

.right-text {
  text-align: right;
}

.justify-text {
  text-align: justify;
}

.center-text {
  text-align: center;
}