<h1>detail page {{barId}}</h1>



<ul>
    <!--<li ng-repeat="bar in bars | filter : {title:barId}">-->
    <li>
        <spna>{{bar.title}}</spna>
        <div style="width: 300px">{{bar.body}}</div>
        <p><span>{{bar.address}}</span></p>

        <p><span class="geo">{{bar.geo}}</span></p>
        <!--<img src="img/300x250-kote.4e8.jpg" alt="cote"/>-->
        <!--<img ng-src="{{bar.image}}" alt="{{bar.title}}"/>-->
        <!--<a href="#/bar/{{bar.title}}" style="display: block;width: 250px;">view details</a>-->
    </li>
</ul>